* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: #b92b27; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.header {
  font-size: 1.5rem;
}

.header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #1565c0;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #1565c0;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  width: 30%;
  list-style: none;
}

.todo {
  display: flex;
  justify-content: space-between;
  background: white;
  color: black;
  margin: 0.5rem;
  align-items: center;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.complete-btn,
.trash-btn {
  padding: 1rem;
  background: #dd6c68;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.complete-btn {
  background: rgb(93, 197, 93);
}

.todo-item {
  padding: 0 0.5rem;
}

.fa-check,
.fa-trash {
  pointer-events: none;
}

.text-line {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #1565c0;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  color: #1565c0;
  background: white;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.5s ease;
}

.select:hover::after {
  background: #1565c0;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .todo-list {
    width: 60%;
    list-style: none;
  }
  .todo-select {
    padding: 0.5rem;
  }
  .select::after {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 720px) {
  form {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
  }
  form input {
    width: 70%;
  }

  .header {
    font-size: 1rem;
    text-align: center;
  }
  .todo-list {
    width: 90%;
  }
  .todo {
    width: 90%;
    margin: 0.5rem;
    font-size: 1rem;
    transition: all 0.5s ease;
  }
  .complete-btn,
  .trash-btn {
    padding: 1rem;
    font-size: 1rem;
  }
  .todo-select {
    padding: 0.5rem;
  }
  .select::after {
    padding: 0.5rem;
  }
}
